node_modules
**/node_modules

dist
**/dist

coverage
**/coverage

.git
.gitignore
.gitattributes

.env
.env.*
!.env.example

npm-debug.log
yarn-debug.log
yarn-error.log
pnpm-debug.log

.DS_Store
.vscode
.idea

apps/api-gateway/src/generated/
.next
**/.next
